.body{  
    background-image:url("../../images/register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
    z-index: 1;
}

#content{
    width: 30%;
    position:absolute;
    right: 5%;
    color: white;
    /* background-color: orange; */
    font-size:30px;
    font-weight: 500;
    text-align: start;
    z-index: 1;
    letter-spacing: 2px;
    word-spacing: 7px;
}

.register{
    width: 60%;
    height: 100vh;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 50%, rgb(64, 64, 64) 99%);    
    color: white;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    

}

.register h3 {
    margin-top:7%;
    margin-left: 8%;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.register h1{
    margin-top:0.2px;
    margin-left: 8%;
    margin-bottom: 1px;
    font-size: 65px;
}

.register p{
    /* margin: 30px 0px; */
    margin-left: 8%;
    margin-bottom: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

#googlicon{
    width: 30px;
    height: 25px;
    position: relative;
    top: 9px;
    left: 10px;
    
}

.register form{
   margin-left: 2%;
   width: 45rem;
   display: flex;
   flex-direction: column;
   
}

.register form input{
    border-radius: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 30rem;
    position: relative;
    left: 9%;
    background-color: white;
}

.register form ::placeholder{
    font-size: 15px;
    font-weight: 300;
    color: black;
    padding-left: 25px;
}

.action-btns{
    display: flex;
    margin-left: 9%;
}

.register form button{
    border-radius: 5px;
    height: 45px;
    width: 13rem;
    font-size: larger;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #151501; 
    color: white;
}


#register_btn{
    margin-right: 10%;
    background-color: white;
    border-color: yellow;
    color: black;
}

#register_btn:hover{
    background-color: #151501;
    color: white;
    border-color: yellow;
}

